.submenuExpositor {
	background: url('../imagen/header/menu/fondo.png') no-repeat;
  	background-size: 100% 37px;
}
.submenuContacto{
	background: url('') !important;
}
.submenuContacto:hover{
	background: url('../imagen/header/menu/fondo.png') no-repeat !important;
	background-size: 100% 37px !important;
}