#owl-demo .item{
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.item img{
  width: 150px;
}
#items{
  margin-top: -30px;
  margin-left: 4%;
}
@media(min-width: 1500px){
  .owl-carousel {
    margin-left: 54px !important;
  }
  #items{
    margin-left: 5.5%;
    margin-top: -60px;
  }
  #items img{
    width: 285px !important;
  }
}