@media(min-width: 1100px){
	.derechos{
		font-size: 13px;
	}
}
@media(min-width: 1300px){
	.espacio{
		width: 75%;
		background-size:100% auto;
	}
	.espacio img{
	  width: 349px;
	  margin-left: 8%;
	  margin-top: 113px;
	}
	.derechos{
		font-size: 14px;
	}
}